<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://kit.fontawesome.com/8b134085b2.js" crossorigin="anonymous"></script>

</head>
<body>
    <header class="netflixheader">
        <img  class="headerimage" src="../static/images/library_logo-removebg-preview.png" alt="" height="90px" width="70px">
        
        <nav>
            <a href="#" class="anchors">Home</a>
            <a href="#" class="anchors1">Comics</a>
            <a href="#" class="anchors2">History</a>
            <a href="#" class="anchors3">Exams</a>
            <a href="#" class="anchors4">Seyyul</a>
            <a href="#" class="anchors5">Browse by Languages</a>
        </nav>

        <div class="sidebar">
            <a href="#" class="glass"><i class="fa-solid fa-magnifying-glass" style="color: black;"></i></a>
            <a href="{{url_for('signup')}}" class="signin"><i class="fa-solid fa-right-to-bracket"></i></a>
            <p class="children">Online Library</p>
            <a href="#" class="mani"><i class="fa-regular fa-bell" style="color: black;"></i></a>
            <a href="#" class="jef"></a>
        </div>
    </header>

    <div class="loveimages">
        <img src="../static/images/man-with-soil-sonercdem-gettyimages.jpg" alt="" height="600px" width="100%">
    </div>

    <div class="mantext">
        <p class="pp1">Accelerating research discovery to shape a better future </p>
        <p class="pp2">Today's research, tomorrow's  <br> innovation</p>
    </div>

    <div class="login">
        <h1>Login <i class="fa-solid fa-angle-down"></i></h1>
    </div>

    <form action="" class="form1" method="post">
        <input type="text" placeholder="Username" name="username" class="u">
        <input type="text" placeholder="Password" name="password" class="p">
        <button type="submit">Login</button>
    </form>


    <div class="rightside">
        <p>India's Leading</p>
        <h1>Library Management <br> <span>System</span></h1>
    </div>

    <hr class="hr">

    <div class="jour">
        <h1>1,600+ Journals</h1>
        <h1>250+ Reference Works</h1>
        <h1>22,000+ Online Books</h1>
    </div>

    <hr>

</body>
</html>